div.header {
    padding:10px;
    background-color: rgb(3, 72, 118);
}
h1.liz {
    text-align: center;
    color: rgb(55, 166, 240);
    font-family:  arial;
    padding: 0px;
}
div.all {
    padding: 40px;
    font-family: arial;
}
p.topper {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}
p.warn {
    color: red;
    text-align: center;
    padding-top: 0px;
    font-size: small;
}
p.GSXremind {
    font-weight: bold;
}